<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.northwestern.cbits.mobilyze" version="0.5.0" versionCode="18" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Mobilyze</name>
    <icon src="icon.png" />
    <description>
       Beta application for depression management.
    </description>
    <author email="m-begale@northwestern.edu" href="http://cbits.northwestern.edu">
		CBITs Center for Behavioral Intervention Technologies
	  </author>
    <content src="index.html" />
</widget>
